<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.limai.user.dao.UserDao">
    <sql id="Base_Column_List">
        id,firstname,lastname
    </sql>

    <select id="selectAllUsers" resultType="com.limai.user.model.User">
        select <include refid="Base_Column_List"/>
        from user
    </select>

</mapper>